.home-container {
  margin-top: 5em;
  width: 100%;
  left:0px;
  right: 0;
}

.first {
  height: 700px;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 1150px) {
  #landscape {
    top: -100px;
  }
}
@media screen and (min-width: 1200px) {
  #landscape {
    top: -150px;
  }
}
@media screen and (min-width: 1300px) {
  #landscape {
    top: -200px;
  }
}
@media screen and (max-width: 700px) {
  .first {
    height: 90vh;
  }
}

.second {
  text-align: center;
}

.slant {
  width: 100%;
  height: 100px;
  left: 0px;
  z-index:1;
  margin-bottom: -2px;
}

#services-content {
  background-color: #fff;
}
#aboutus-content {
  background-color: #f6f6f6;
}
#contact-content {
  background-color: #fff;
}

.slant-content {
  height: 600px;
}

#main-alt {
  color: #EB008B;
}

#slant-one {
  fill: #fff;
}
#slant-two {
  fill: #f6f6f6;
}
#slant-three {
  fill: #231F20;
}
#slant-four {
  fill: #fff;
}

#second-slant {
  background-color: #fff;
}
#third-slant {
  background-color: #f6f6f6;
}
#fourth-slant {
  background-color: #231F20;
}

.heading {
  position: absolute;
  left: 50%;
}

#landscape {
  width: 160%;
  display: inline-block;
  transform: translateX(-28%);
  z-index: -1;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  #landscape {
    height: 100%;
    width: auto;
    overflow: hidden;
  }
}

.svg-heading {
  position: relative;
  left: -50%;
}
@media screen and (max-width: 500px) {
  .svg-heading {
    height: 50px;
  }
}

.slant-container {
  z-index: 10;
  position: relative;
  top: -200px;
}

#landscape-slant {
  position: relative;
  z-index: 0;
}

.third {
  position: relative;
  background-color: #fff;
  height: 600px;
  border: none;
  margin-top: -3px;
}

.fifth {
  position: relative;
  background-color: #fff;
}

.third-container {

}

.slant-content {
  background-color: #231F20;
  height: 600px;
  border: none;
  margin-top: -3px;
  z-index: -10;
}
