hr {
  position: relative;
  width: 20%;
  border: 3px solid #000;
  margin-top: 75px;
  margin-bottom: 75px;
}

#alt {
  position: relative;
  width: 20%;
  border: 3px solid #EB008B;
  margin-top: 75px;
  margin-bottom: 0;
}

.alttext {
  color: #EB008B;
  text-align: left;
  line-height: 25px;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.alttextlist {
  color: #EB008B;
  text-align: left;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: 60px;
}
@media screen and (max-width: 554px) {
  .alttextlist {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    padding-right: 0;
  }
}

.custom-list {
  list-style: none;
  counter-reset: item;
}
.custom-list-item {
  counter-increment: item;
  padding: 50px;
}
.custom-list-item:before {
  content: counter(item);
  border-radius: 100%;
  border: solid 2px #EB008B;
  padding: 25px;
  font-size: 25px;
  color: #EB008B;
  width: 1.2em;
  display: inline-block;
  float: left;
}
@media screen and (max-width: 554px) {
  .custom-list-item:before {
    float: none;
  }
}

h4 {
  color: #231F20;
  font-size: 20px;
  text-align: left;
}

h5 {
  color: grey;
  font-size: 15px;
  text-align: left;
  font-weight: lighter;
  line-height: 25px;
}

.home-container {
  margin-top: 5em;
  width: 100%;
  left:0px;
  right: 0;
}

.first {
  height: 700px;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 1150px) {
  #landscape {
    top: -100px;
  }
}
@media screen and (min-width: 1200px) {
  #landscape {
    top: -150px;
  }
}
@media screen and (min-width: 1300px) {
  #landscape {
    top: -200px;
  }
}
@media screen and (max-width: 855px) {
  .first {
    height: 80vh;
  }
}
@media screen and (max-width: 775px) {
  .first {
    height: 70vh;
  }
}
@media screen and (max-width: 630px) {
  .first {
    height: 65vh;
  }
}
@media screen and (max-width: 580px) {
  .first {
    height: 60vh;
  }
}
@media screen and (max-width: 520px) {
  .first {
    height: 55vh;
  }
}

.second {
  text-align: center;
}

.slant {
  width: 100%;
  height: 100px;
  left: 0px;
  z-index:1;
  margin-bottom: -2px;
}

#services-content {
  background-color: #fff;
}
#aboutus-content {
  background-color: #f6f6f6;
}
#contact-content {
  background-color: #fff;
}

#main-alt {
  color: #EB008B;
}

#slant-one {
  fill: #fff;
}
#slant-two {
  fill: #f6f6f6;
}
#slant-three {
  fill: #231F20;
}
#slant-four {
  fill: #fff;
}
#slant-five {
  fill: #fff;
}

#second-slant {
  background-color: #fff;
}
#third-slant {
  background-color: #f6f6f6;
}
#fourth-slant {
  margin-top: -15px;
  background-color: #231F20;
}
#fifth-slant {
  background-color: #fff;
}

.heading {
  position: absolute;
  left: 50%;
}

object {
  overflow: hidden;
}

#landscape {
  width: 160%;
  display: inline-block;
  transform: translateX(-28%);
  z-index: -1;
  position: relative;
  overflow: hidden;
}


.svg-heading {
  position: relative;
  left: -50%;
}
@media screen and (max-width: 500px) {
  .svg-heading {
    height: 50px;
  }
}

.slant-container {
  z-index: 10;
  position: relative;
  top: -200px;
}

#landscape-slant {
  position: relative;
  z-index: 0;
}

.third {
  position: relative;
  background-color: #fff;
  height: 600px;
  border: none;
  margin-top: -3px;
}

.fifth {
  position: relative;
  background-color: #fff;
}

.third-container {

}

.slant-content {
  background-color: #231F20;
  height: auto;
  border: none;
  margin-top: -3px;
  z-index: -10;
  padding-top: 100px;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 12px;
}

#service-icons > li {
  padding: 0px 30px;
}
@media screen and (max-width: 554px) {
  #service-icons > li {
    padding: 0px 20px;
  }
}
@media screen and (max-width: 474px) {
  #service-icons > li {
    padding: 0px 10px;
  }
}
@media screen and (max-width: 394px) {
  #service-icons > li {
    padding: 0px 5px;
  }
}

.pricelist-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  margin-top: 100px;
  grid-gap: 25px;
}
@media screen and (min-width: 554px) {
  .pricelist-container {
    grid-template-columns: 1fr 1fr;
  }
  #note {
    grid-column: 1/3;
    background-color: #EB008B;
    border-radius: 15px;
    color: #fff;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.pricelist-container > div {
  padding-left: 10%;
  padding-right: 10%;
}

#note {
  background-color: #EB008B;
  border-radius: 15px;
  color: #fff;
  margin-left: 50px;
  margin-right: 50px;
}

.about-container {
  display: grid;
  margin-top: 100px;
  grid-template-columns: 1fr;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 554px) {
  .about-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #intro {
    grid-column: 1/5;
    margin-left: 20px;
    line-height: 25px;
  }

  #col1 {
    grid-column: 1/3;
    padding-left: 20px;
    padding-right: 20px;
  }
  #col2 {
    grid-column: 3/5;
    padding-left: 20px;
    padding-right: 20px;
  }
}
