.App {
  text-align: center;
}

.colBox {
  border: solid black 1px;
  border-radius: 10px;
  margin: 20px;
  padding: 25px;
  width: 100px;
  display: inline-block;
}

.colourPeak {
  height: 50px;
  width: 50px;
  display: inline-block;
}
